/build/
/Dominion/nbproject/private/
/Dominion/build/
/ServerSocket/nbproject/private/
/ServerSocket/build/
/DominionServer/nbproject/private/
/DominionServer/build/
/Dominion/dist/
*.txt
*.log
*.log
html-frontend/build/classes/server/DominionServlet.class
html-frontend/build/classes/server/DominionServlet.class
*.class