@font-face {
    font-family: myFirstFont;
    src: url(../fonts/ars-maquette-medium.ttf),
    url(../fonts/ars-maquette-regular.ttf),
    url(../fonts/ars-maquette-medium.woff),
    url(../fonts/ars-maquette-regular.woff);
}

body {
    background-color: #FFFFFF;
    color: #444444;
    font-family: myFirstFont, Helvetica, Arial;
    font-size: 0.9rem;
}

h1, h2{
    color: #000000;
    font-family: myFirstFont, Helvetica, Arial;
    text-transform: lowercase;
    font-weight: bold;
    padding-bottom: 20px;
}

h1{
    font-size: 3.1rem;
    padding-top: 20px;
}

h2{
    font-size: 1.4rem;
}

p{
    line-height: 160%;
    padding-bottom: 25px;
}

img{
    padding-bottom: 15px;
}

nav li {
    display: inline-block;
    margin-right: 24px;
}

nav li a {
    display: inline-block;
    padding: 4px;
    margin-bottom: 15px;

}

a:hover{
    text-decoration: none;
}

nav li a{
    background-color: #ff4020;
    border: 1px solid #ff4020;
    color: #FFFFFF;
}

img{
    width: 150px;
    float: left;
    padding-bottom: 15px;
}

p{

    padding-bottom: 25px;
}

.column{
    float: left;
    width: 400px;
    margin-right: 5px;
}


a{
    color: #ff4020;
}


.hoofdafbeelding{
    width: 950px;
    padding-bottom: 15px;
}

#statistics{
    float: right;

}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/

#container {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

nav li a:hover, nav li a.actief, nav li a:focus, nav li a:active {
    background-color: #FFFFFF;
    color: #ff4020;
    border: 1px solid #ff4020;
    text-decoration: none;
}

section{
    background-color: #EDEDED;
    padding: 15px;
}

section:before,section:after {
    content: "";
    display: table;
}

section:after {
    clear: both;
}

::selection {
    background: #ff4020;
    color: #FFFFFF;
}

