@font-face {
    font-family: MontserratRegular;
    src: url('../fonts/MontserratRegular.eot');
    src: local('MontserratRegular'),
    url('../fonts/MontserratRegular.woff') format('woff'),
    url('../fonts/MontserratRegular.ttf') format('truetype');
}

@font-face {
    font-family: MedievalFont;
    src: url('../fonts/OldeEnglish.ttf');
}

/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/

#play a {
    color: black;
}

#play {
    background-image:url("../media/nav_play_background.jpg");
    background-position: right;
    background-position: left;
    padding-right: 50px;
    padding-left: 50px;

}

body {
    background-color: #3C1B00;
    font-family: MontserratRegular;
}

section {
    margin-left: auto;
    margin-right: auto;
    width: 45%;
    color: #ffd700;
    border: 20px solid;
    border-image: url("../media/section_border2.png") 30 round;
    padding: 10px;
    z-index: 8;
}

section h1 {
    color: #FFE769;
    border: solid 1px #ffd700;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #BA3729;
    border-radius: 8px;
}


article {
    margin: 10px;
}

article h2 {
    font-family: MedievalFont;
    font-size: 2em;
    color: #D1AB52;
    text-align: center;
    width: 35%;
    padding-top: 26px;
    padding-bottom: 21px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url("../media/title_ribbon.png");
    background-position: center;
    background-repeat: no-repeat;
}

span h3 {
    border-bottom: none !important;
    width: 40% !important;
}

article h3 {
    color: #f8e68d;
    border-bottom: solid 1px #f8e68d;
    width: 20%;
    border-bottom-right-radius: 5px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}



article p {
    line-height: 130%;
    margin-bottom: 10px;
    z-index: 8;

}

header {
    text-align: center;;
    width: 100%;
    font-family: MontserratRegular;
    z-index: 10;
}

footer {
    margin-top: 15px;
    height: 100px;
    background-image: url("../media/footer_background.jpg");
    background-repeat: repeat-x;
    padding-top: 25px;
    padding-bottom: 25px;
}

footer p {
    line-height: 130%;
}

cite {
    font-size: 0.7em;
    font-style: italic;
    color: #f8e68d;
}

/*---------------------*/
/*  REUSABLE CLASSES   */
/*---------------------*/

.header-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin-bottom: 20px;
}

.section-scroll {
    margin-top: 95px;
}

.banner1 {
    background-image: url("../media/banner1.jpg");
    transition: all 5s ease 0s;
}

.banner2 {
    background-image: url("../media/banner2.jpg");
    transition: all 5s ease 0s;
}

/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
nav {
    background-image: url("../media/nav_background_red.jpg");
    background-repeat: repeat-x;
    line-height: 350%;
    border-top: 1px solid #A26B28;
    border-bottom: 1px solid #A26B28;
    box-shadow: 10px 5px 10px black;
    margin-bottom: 15px;

}

nav a {
    text-decoration: none;
    color: gold;
    font-weight: bold;

}

nav ul li {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    width: auto;
    padding-left: 10px;
    padding-right: 15px;
    margin-right: -5px;
    transition: all 0.3s ease 0s;
}

header li+li {
    border-left: 1px solid #A26B28;
}

nav a:hover {
    color: #f8e68d;
}

nav ul li:hover{
    background-color: #BA3729;
}

nav ul li:first-child:hover {
    background-color:transparent;
}


ul li:nth-last-child(1){
    border-right: none;
}

section ul {
    list-style-type: circle;
    margin-left: 40px;
    margin-bottom: 10px;
    line-height: 130%;
}


#phases {
    list-style-type: upper-alpha;
    margin-left: 40px;
    margin-bottom: 10px;
    line-height: 130%;
}

/*ul li a:after {
    content: ' |';
}

ul li:last-of-type a:after {
    content: '';
}*/

#footercontent {
    display: inline-block;
    width: 50%;
    margin-left: 90px;
    padding-top: 22px;
}

#logo {
    height: 60px;
    display: inline-block;
    padding-top: 0px;
    padding-bottom: 0px;
}

#footerlogo {
    display: inline-block;
    width: 10%;
    float: left;
    margin-left: 575px;
    vertical-align: middle;
    padding-top: 20px;

}

#footerlogo img {
    width: 130%;
    border-right: 1px solid #A26B28;
    padding-right: 25px;
}



#banner {

    width: auto;
    height: 888px;
}

#victory {
    position: relative;
    margin-bottom: 65px;
    z-index: 8;

}

#victory p {
    padding-left: 70px;
}

#preparation {
    position: relative;
}

/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/

#treasurecard {
    float: right;
    position: relative;
    top: -65px;
    left: -45px;
    -ms-transform: rotate(23deg);
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    z-index: 8;
    height: 125px;
}

#victorycard {
    float: left;
    position: relative;
    top: 4px;
    left: 19px;
    -ms-transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    margin-right: 35px;
    margin-bottom: 24px;
    margin-top: 5px;
    z-index: 8;
    height: 125px;
}

#cursecard {
    float: right;
    position: relative;
    top: -65px;
    left: -20px;
    -ms-transform: rotate(23deg);
    -webkit-transform: rotate(23deg);
    transform: rotate(23deg);
    z-index: 8;
    height: 125px;
    margin-left: 7px;
}

#trashcard {
    float: left;
    position: relative;
    top: 4px;
    left: 19px;
    -ms-transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
    transform: rotate(-23deg);
    margin-right: 35px;
    margin-bottom: 24px;
    margin-top: 5px;
    z-index: 8;
    height: 125px;
}

#treasurecard:hover, #victorycard:hover, #cursecard:hover, #trashcard:hover {
    height: 250px;
    z-index: 9;
    position: absolute;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}

#treasurecard:hover {
    top: 0px;
    left: 690px;
}

#cursecard:hover {
    top: 440px;
    left: 690px;

}

#trashcard:hover {
    top: 530px;
}

#Rules:before, #About:before {
    display: block;
    content: " ";
    margin-top: -75px;
    height: 75px;
    visibility: hidden;
}


