/*---------------------*/
/*    HTML ELEMENTS    */
/*---------------------*/
body{
    color: #404453;
    font-family: Georgia, Cambria, "Times New Roman";

    background-color: rgb(243,243,243);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(243,243,243,0.6);
    width: 100%;
    z-index: 10;
}

header h1{
    font-size: 3rem;
    width: 40%;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    margin-top: 30px;
    
}

nav{
    float: right;
    margin-bottom: 30px;
    font-size: 1.8rem;
    line-height: 180%;
    margin-top: 30px;
    text-transform: uppercase;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

nav li{
    display: inline-block;
    margin-right: 15px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial;
}




h1{
    font-size: 6rem;
    font-weight: bold;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial;
}

h2{
    font-size: 2.4rem;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #16c6c0;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial;
}

footer{
    padding-top: 20px;
    padding-bottom: 40px;
    background-color: #f0fcff;
    text-align: center;
    color: #acbcc1;
    font-size: 0.8rem;
    line-height: 150%;
    padding-left: 40px;
    padding-right: 40px;
}

footer h1 {
    font-size: 1rem;
    margin-bottom: 10px;
    text-transform: uppercase;
}

footer span{
    font-weight: bold;
    color: black;
}

a{
    text-decoration: none;
    color: black;
}

/*---------------------*/
/*  REUSABLE CLASSES   */
/*---------------------*/



/*---------------------*/
/* CONTAINING ELEMENTS */
/*---------------------*/
#Who{
    background-color: #467fd3;
    margin-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: center;
}

#Who img{
    width: 150px;
    display: inline-block;
    margin-right: 60px;

}

#Who h1{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;

}

#What{
    background-color: #f0fcff;
    padding-top: 90px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom:90px;
}

#What p{
    width: 70%;
    font-size: 2rem;
    line-height: 130%;
}

#What h1{
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}

#Audience{
    background-image: url("../media/reach-audience.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 220px;
}

#Audience h2{
    text-transform: uppercase;
}

#Audience p, #Audience h2{
    margin-left: 250px;
}

#Leads{
    background-image: url("../media/generate-leads.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 220px;
}

#Leads h2{
    text-transform: uppercase;
}

#How{
    background-color: #404453;
    color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 90px;
    padding-bottom: 90px;
}

#SEO{
    width: 260px;
    position: relative;
    top: 0;
    left: 95px;
    z-index: 1;
}

#Content{
    width: 260px;
    position: relative;
    top: 0;
    left: 95px;
    z-index: 1;
}

#Pay{
    width: 260px;
    position: relative;
    top: 0;
    left: 95px;
    z-index: 1;
}

#How h1, #How h2, #How p{
    text-align: center;
}

#How h2{
    font-size: 1.6rem;
    margin-bottom: 20px;
}

#How article{
    float: left;
    width: 30%;
    padding-right: 3%;
}


#How:before,#How:after {
    content: "";
    display: table;
}

#How:after {
    clear: both;
}



/*------------------------*/
/* PAGE SPECIFIC ELEMENTS */
/*------------------------*/
